ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

li {
    color: green
}

.no-audio li.audio {
    color: red;
}

.no-backgroundcliptext li.backgroundcliptext {
    color: red;
}

.no-borderradius li.borderradius {
    color: red;
}

.no-boxsizing li.boxsizing {
    color: red;
}

.no-canvas li.canvas {
    color: red;
}

.no-contextmenu li.contextmenu {
    color: red;
}

.no-emoji li.emoji {
    color: red;
}

.no-flexbox li.flexbox {
    color: red;
}

.no-htmlimports li.htmlimports {
    color: red;
}

.no-json li.json {
    color: red;
}

.no-svg li.svg {
    color: red;
}

.no-setclasses li.setclasses {
    color: red;
}